/* General button styles */
.full-width-button {
    width: 100%; /* Full screen width */
    height: 60px; /* Short height */
    background-color: lightblue; /* Default background color */
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 60px; /* Center text vertically */
    cursor: pointer;
    border: none;
    margin: 10px 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.meme-button {
    background-color: #0088cc; /* Darker blue for the meme button */
}

.full-width-button:hover {
    background-color: #87ceeb; /* Change color on hover for the default button */
}

.meme-button:hover {
    background-color: #0099dd; /* Change color on hover for the meme button */
}

/* Centering the meme container */
#memeContainer {
    text-align: center;
    margin: 20px;
}
